//
// Border radius Mixins
//
// Use this mixins to add vendor prefix to the
// `border-radius` css property if rounded support
// is enable.
@mixin border-radius($radius) {
	@if $enable-rounded  {
		-webkit-border-radius: $radius;
		border-radius: $radius;
		background-clip: padding-box; // stops bg color from leaking outside the border:
	}
}
//
// Single side border-radius
@mixin border-top-radius($radius) {
	@if $enable-rounded {
		-webkit-border-top-right-radius: $radius;
		border-top-right-radius: $radius;
		-webkit-border-top-left-radius: $radius;
		border-top-left-radius: $radius;
		background-clip: padding-box;
	}
}
@mixin border-right-radius($radius) {
	@if $enable-rounded {
		-webkit-border-bottom-right-radius: $radius;
		border-bottom-right-radius: $radius;
		-webkit-border-top-right-radius: $radius;
		border-top-right-radius: $radius;
		background-clip: padding-box;
		
	}
}
@mixin border-bottom-radius($radius) {
	@if $enable-rounded {
		-webkit-border-bottom-right-radius: $radius;
		border-bottom-right-radius: $radius;
		-webkit-border-bottom-left-radius: $radius;
		border-bottom-left-radius: $radius;
		background-clip: padding-box;
	}
}
@mixin border-left-radius($radius) {
	@if $enable-rounded {
		-webkit-border-bottom-left-radius: $radius;
		border-bottom-left-radius: $radius;
		-webkit-border-top-left-radius: $radius;
		border-top-left-radius: $radius;
		background-clip: padding-box;
	}
}