//
// Rem to Pixels
//

//
// Mixins
//
// Convert 'rem's to 'px's
// Inspired by: https://davidwalsh.name/rem-px-browser-function-sass
@mixin rem-px($property, $values) {
	$px : ();
	$rem: ();
	@each $value in $values {
		@if $value == 0 or $value == auto {
			$px : append($px , $value);
			$rem: append($rem, $value);
		}
		@else {
			$unit: unit($value);
			$val: parseInt($value);
			@if $unit == "px" {
				$px : append($px,  $value);
				$rem: append($rem, rem($val));
			}
			@if $unit == "rem" {
				$px : append($px,  px($val));
				$rem: append($rem, $value);
			}
		}
	}
	@if $px == $rem {
		#{$property}: $px;
	} @else {
		@if $enable-px-unit {
			#{$property}: $px;
		}
		@if $enable-rem-unit {
			#{$property}: $rem;
		}
	}
}