//
// Footer
//

//
// Vars
$page-foot-min-height: 50px;
$page-foot-padding-top: 1rem;

//
// Css classes and elements
/*! Footer Component */
.page-footer {
	min-height: $page-foot-min-height;
	@include rem-px(padding-top, $spacer-y);
	@include rem-px(margin-top, $spacer-y);
	border-top: 2px solid $silver;
}