$page-head-min-height: 50px;
$page-head-margin-bottom: 1rem;
$page-head-padding-top: 2rem;

.page-header {
	min-height: $page-head-min-height;
	@include rem-px(margin-bottom, $page-head-margin-bottom);
	@include rem-px(padding-top, $page-head-padding-top);
	border-bottom: 2px solid $silver;
}