//
// Header
//

//
// Vars
$page-head-min-height: 50px;
$page-head-padding-top: 2rem;

//
// Css classes and elements
/*! Header Componet */
.page-header {
	min-height: $page-head-min-height;
	@include rem-px(margin-bottom, $spacer-y);
	@include rem-px(padding-top, $page-head-padding-top);
	border-bottom: 2px solid $silver;
}