//
// Navbar
//

//
// Css classes and elements
//
// The navbar container
/*! Navbar Component */
.navbar {
	position: relative;
	margin-bottom: .5rem;
	padding-right: 1rem;
	padding-left: 1rem;
	border-bottom: 1px solid transparent;
	@include border-radius(5px);
	@include clearfix; // Avoid floated elements bother.
	//
	// Nav
	//
	// use with an unordered list. This will contain the
	// link list
	.nav {
		@include list-unstyled;
		margin: 0 -1rem;
		> li {
			margin: 0;
			display: inline-block;
			float: left;
			a {
				display: block;
				padding: .6875rem;
			}
		}
	}
	//
	// Avoid `<h1` margins makes a mess with the navabr
	// because of its default styles
	//
	// You can use this as a `.navbar-brand` wrapper.
	h1 {
		margin: 0;
		font-size: inherit;
		line-height: inherit;
		float: left;
	}
	//
	// To add the brand image and the brand title.
	.navbar-brand {
		float: left;
		font-size: 120%;
		padding: .5rem 0;
		margin-right: 1rem;
		//
		// Avoid default background color when hover
		@include hover-focus {
			background-color: transparent;
		}
		//
		// Rexise its height to 40px to make if fix with
		// the navbar layout.
		img {
			width: auto;
			max-height: 40px;
			margin-top: -.5rem;
			margin-right: .625rem; // 10px
		}
	}
	//
	// Center verticaly any text to make them fix with
	// the layout.
	.navbar-text {
		margin: .875rem 0;
		font-size: 80%;
		float: left;
		margin-right: 1rem;
	}
	//
	// .navbar variants
	&-light {
		background-color: #f8f8f8;
		border-color: #e7e7e7;
		.navbar-text {
			color: $gray-light;
		}
		a {
			color: $gray;
			@include hover-focus {
				color: darken($gray, 10%);
				background-color: $gray-lighter;
			}
			&.active {
				color: darken($gray, 10%);
				background-color: $gray-lighter;
			}
		}
	}
	&-inverse {
		background-color: $brand-inverse;
		border-color: $gray-lighter;
		.navbar-text {
			color: $gray-light;
		}
		a {
			color: $gray-lighter;
			@include hover-focus {
				color: $white;
				background-color: $gray-darker;
			}
			&.active {
				color: $white;
				background-color: $gray-darker;
			}
		}
	}
}