//
// Navbar
//

//
// Vars
$navbar-spacer-y: $spacer-y;
$navbar-spacer-x: $spacer-x;

$navbar-border-width: 0;

$nav-link-padding: .75rem;

$navbar-brand-font-size: 1.25rem;
$navbar-brand-padding-y: .5rem;
$navbar-brand-img-max-height: 1.875rem;
$navbar-brand-img-margin-top: -.375rem;

$navbar-text-padding-y: .875rem;
$navbar-text-font-size: 80%;

$navbar-light-bg: #f8f8f8;
$navbar-light-border-color: #e7e7e7;
$navbar-light-text-color: $gray-light;
$navbar-light-link-color: $gray;
$navbar-light-link-hover-color: darken($navbar-light-link-color, 10%);
$navbar-light-link-hover-bg: $gray-lighter;
$navbar-light-link-active-color: darken($navbar-light-link-hover-color, 10%);
$navbar-light-link-hover-bg: $navbar-light-link-hover-bg;

$navbar-inverse-bg: $brand-inverse;
$navbar-inverse-border-color: $gray-lighter;
$navbar-inverse-text-color: $gray-light;
$navbar-inverse-link-color: $gray-lighter;
$navbar-inverse-link-hover-color: $white;
$navbar-inverse-link-hover-bg: $gray-darker;
$navbar-inverse-link-active-color: darken($navbar-inverse-link-hover-color, 10%);
$navbar-inverse-link-hover-bg: $navbar-inverse-link-hover-bg;

//
// Css classes and elements
//
// The navbar container
/*! Navbar Component */
.navbar {
	position: relative;
	@include rem-px(margin-bottom, $navbar-spacer-y);
	@include rem-px(padding-right, $navbar-spacer-x);
	@include rem-px(padding-left, $navbar-spacer-x);
	border-bottom: $navbar-border-width solid transparent;
	@include border-radius($border-radius);
	@include clearfix; // Avoid floated elements bother.
	//
	// Nav
	//
	// use with an unordered list. This will contain the
	// link list
	.nav {
		@include list-unstyled;
		margin: {
			top: 0;
			@include rem-px(right, -$navbar-spacer-x);
			bottom: 0;
			@include rem-px(left, -$navbar-spacer-x);
		}
		> li {
			margin: 0;
			display: inline-block;
			float: left;
			a {
				display: block;
				@include rem-px(padding, $nav-link-padding);
			}
		}
	}
	//
	// Avoid `<h1>` margins make a mess with the navabr
	// because of its default styles
	//
	// You can use this as a `.navbar-brand` wrapper.
	h1 {
		margin: 0;
		font-size: inherit;
		line-height: $line-height-base;  // Important. Prevent spaces from bad behave
		float: left;
	}
	//
	// To add the brand image and the brand title.
	.navbar-brand {
		float: left;
		@include rem-px(font-size, $navbar-brand-font-size);
		@include rem-px(padding, $navbar-brand-padding-y 0);
		@include rem-px(margin-right, $navbar-spacer-x);
		//
		// Avoid default background color when hover
		@include hover-focus {
			background-color: transparent;
		}
		//
		// Rexise its height to 40px to make if fix with
		// the navbar layout.
		img {
			width: auto;
			@include rem-px(max-height, $navbar-brand-img-max-height);
			@include rem-px(margin-top, $navbar-brand-img-margin-top);
			@include rem-px(margin-right, ($navbar-spacer-x / 2));
		}
	}
	//
	// Center verticaly any text to make them fix with
	// the layout.
	.navbar-text {
		@include rem-px(padding, $navbar-text-padding-y 0);
		@include rem-px(margin, 0 $navbar-spacer-x 0 0); // Remove any parent margin
		font-size: $navbar-text-font-size;
		float: left;
	}
	//
	// .navbar variants
	&-light {
		background-color: $navbar-light-bg;
		border-color: $navbar-light-border-color;
		.navbar-text {
			color: $navbar-light-text-color;
		}
		a {
			color: $navbar-light-link-color;
			@include hover-focus {
				color: $navbar-light-link-hover-color;
				background-color: $navbar-light-link-hover-bg;
			}
			&.active {
				color: $navbar-light-link-active-color;
				background-color: $navbar-light-link-hover-bg;
			}
		}
		//
		// Add style to ``.navbar-[light|inverse] .nav > li.active``
		.nav {
			li.active a {
				color: $navbar-light-link-active-color;
				background-color: $navbar-light-link-hover-bg;
			}
		}
	}
	&-inverse {
		background-color: $navbar-inverse-bg;
		border-color: $navbar-inverse-border-color;
		.navbar-text {
			color: $navbar-inverse-text-color;
		}
		a {
			color: $navbar-inverse-link-color;
			@include hover-focus {
				color: $navbar-inverse-link-hover-color;
				background-color: $navbar-inverse-link-hover-bg;
			}
			&.active {
				color: $navbar-inverse-link-active-color;
				background-color: $navbar-inverse-link-hover-bg;
			}
		}
	}
}