//
// Globals
//

//
// Vars and Funcotions
//
// returns the unit as an int
@function parseInt($n) {
	@return $n / ($n * 0 + 1);
}

@function next-map-item($name, $items) {
	$n: index($items, $name);
	@return if($n < length($items), nth($items, $n + 1), null);
}

$pixel-base: 16px;

@function rem($unit, $base: $pixel-base) {
	@return (parseInt($unit) / parseInt($base) + rem);
}

@function px($unit, $base: $pixel-base) {
	@return (parseInt($unit) * parseInt($base) + px);
}

//
// Accent Colors
$silver: #dddddd;
$navy: #00112b;
$blue: #0066ff;
$aqua: #55ddff;
$teal: #00ccff;
$olive: #165016;
$green: #00d400;
$lime: #00ff66;
$yellow: #ffdc00;
$orange: #ff7804;
$red: #ff1313;
$maroon: #2b0000;
$fuchsia: #ff00cc;
$purple: #aa00d4;

//
// Gray Scale
$white: #fafafa;
$gray-lighter: #eee;
$gray-light: #999;
$gray: #555;
$gray-dark: #333;
$gray-darker: #222;
$black: #101010;

//
// Brand colors
$brand-primary: $blue;
$brand-success: $green;
$brand-info: $teal;
$brand-warning: $orange;
$brand-danger: $red;
$brand-inverse: $gray-dark;

//
// Html
$html-font-sizes: (
	xs: ($pixel-base - 4),
	sm: ($pixel-base - 2),
	md: ($pixel-base - 2),
	lg: ($pixel-base),
	xl: ($pixel-base)
);

//
// Body
$body-bg: $white;
$body-color: $gray-dark;
$inverse-bg: $gray-dark;
$inverse-color: $gray-lighter;

$body-font-size: 1rem;

//
// Links
$link-color: $brand-primary;
$link-decoration: none;
$link-hover-color: darken($link-color, 20%);
$link-hover-decoration: underline;

//
// Fonts
//
// Font families
$font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif: Georgia, "Times New Roman", Times, serif;
$font-family-monospace: Menlo, Monaco, "Courier New", monospace;

$font-family-base: $font-family-sans-serif;

$font-weight-normal: normal;
$font-weight-bold: bold;

$font-weight-base: $font-weight-normal;
$line-height-base: 1.5;

//
// Spaces
$spacer: 1rem;
$spacer-x: $spacer;
$spacer-y: $spacer;

//
// Boreders
$border-default-color: $silver;
$border-radius: .25rem;
$border-radius-lg: .3rem;
$border-radius-sm: .2rem;

//
// Support
$enable-older-browsers-support: true;
$enable-ie-support: true;
$enable-rounded: true;
$enable-box-shadow: true;
$enable-rem-unit: true;
$enable-px-unit: true;
$enable-html-font-size: true;