//
// Images styles
//

//
// Mixins
//
// Keep images from scaling beyond the width of their parents.
@mixin img-fluid {
	max-width: 100%;
	height: auto;
}
//
// Thumbnail style
@mixin img-thumbnail() {
	
}

//
// Css classes and elements
// Responsive Imahe
/*! Responsive Images */
.img-fluid {
	@include img-fluid;
}
//
// Thumbnail
.img-thumbnail {
	padding: .25rem;
	border: 1px solid $border-default-color;
	@include border-radius($border-radius-sm);
}
//
// Thumbnail
.img-rounded {
	@include border-radius($border-radius-lg);
}
//
// Thumbnail
.img-circle {
	@include border-radius(50%);
}