//
// Layout breakpoints
//

//
// Vars
//
// Define the dimensions at which the layout will change,
// adapting to different screen sizes, for use in media queries.
//
//		>> xs = extra small
//		>> sm = small
//		>> md = medium
//		>> lg = large
//		>> xl = extra large
$layout-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px
);

//
// Mixins
//
// Media of at least the minimum breakpoint width. No query for the smallest breakpoint.
// Uses ``min-width``
// Makes the @content apply to the given breakpoint and wider.
@mixin media-breakpoint($name, $breakpoints: $layout-breakpoints) {
	$min: map-get($breakpoints, $name);
	@if $min != 0 {
		@media (min-width: $min) {
			@content;
		}
	}
	@else {
		@content;
	}
}
//
// Similar but uses ``max-width``
@mixin media-breakpoint-max($name, $breakpoints: $layout-breakpoints) {
	$next: next-map-item($name, map-keys($breakpoints));
	$max: map-get($breakpoints, $next);
	@debug $max;
	@if $max {
		@media (max-width: $max - 1) {
			@content;
		}
	}
	@else {
		@content;
	}
}